<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand ff-serif" href="/">
        <img src="/assets/img/logo.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
        Light & Life Massage
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#services">Services</a>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <a href="https://light-life-massage.square.site/" class="my-2 d-inline-block btn btn-sm btn-outline-primary mr-3">Schedule in South Jordan</a>
      <a href="/utah-county-appointments" class="my-2 d-inline-block btn btn-sm btn-outline-primary">Schedule in Vineyard/Orem</a>
    </div>
  </div>
</nav>
