@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body, .ff-sans-serif {
  font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, .ff-serif {
  font-family: 'Patua One', cursive;
}
.home .hero {
  background-image: linear-gradient(to bottom, rgba(69, 67, 64, 0.8), rgba(69, 67, 64, 0.5)), url("/assets/img/studio.jpg");
  background-size: cover;
  background-position: 0 0, bottom center;
}
.section-odd {
  background-color: #e0e1de;
}
.fa-ul {
  margin-left: 1.5em;
}