---
layout: home
title: Home
heading: Light & Life Massage
---

<div class="hero text-white -mt-16">
  <div class="container">
      <div class="grid text-center content-center justify-center h-screen relative">
        <h1 class="mb-4 text-5xl">Light &amp; Life Massage</h1>
        <div class="flex flex-col md:flex-row gap-2 md:gap-4 text-center items-center">
          <a href="https://light-life-massage.square.site/" class="bg-rose-950 rounded-md w-fit px-4 py-2">Schedule in South Jordan</a>
          <a href="/utah-county-appointments/" class="bg-rose-950 rounded-md w-fit px-4 py-2">Schedule in Vineyard/Orem</a>
        </div>
        <div class="absolute inset-x-0 bottom-4 text-center">
          <i class="fas fa-angle-down text-3xl"></i>
          <p>Scroll for services</p>
        </div>
      </div>
  </div>
</div>
<div id="services"></div>
<div class="services">
  <div class="container py-10 px-4">
    <h1 class="text-4xl md:text-6xl">Services</h1>
    <nav class="mt-4 text-sm">
      <a class="inline-block mr-2 mb-3 border border-rose-950 bg-white rounded-md px-3 py-2" href="#ashiatsu">Ashiatsu</a>
      <a class="inline-block mr-2 mb-3 border border-rose-950 bg-white rounded-md px-3 py-2" href="#foot-zone">Foot Zone Therapy</a>
      <a class="inline-block mr-2 mb-3 border border-rose-950 bg-white rounded-md px-3 py-2" href="#therapeutic">Therapeutic Massage</a>
      <a class="inline-block mr-2 mb-3 border border-rose-950 bg-white rounded-md px-3 py-2" href="#pregnancy">Pregnancy Massage</a>
      <a class="inline-block mr-2 mb-3 border border-rose-950 bg-white rounded-md px-3 py-2" href="#thai-massage">Thai Massage</a>
    </nav>
  </div>
<main>
{% import 'macros.njk' as macros %}
{{ macros.homeService(
  'odd',
  'Ashiatsu / Barefoot Massage',
  'ashiatsu',
  'Ashiatsu Massage',
  [
    'Pressure is broad, deep, consistent, and has powerful grounding and relaxing effects'
  ],
  'This modality is performed with the client disrobed, lying on the massage table beneath an oversized massage towel. Therapist applies oil using hands, and then proceeds to massage with the feet. When client is face up, the client’s eyes will be covered with a loose overlapping head wrap. The limbs are then modestly exposed at the same time for ease of working. This is a full body massage.'
) }}
{{ macros.homeService(
  'even',
  'Foot Zone Therapy',
  'foot-zone',
  'Foot Zone Therapy',
  [
    'Firm, specific pressure in the feet',
    'Activates signals on the feet that correspond with each part of the body',
    'Improves communication within the body which aides healing, restoration, and proper function'
  ],
  'Client sits in a zero gravity position. Shoes and socks are removed. Therapist will administer techniques using thumbs, fingers, and knuckles as well as stones, gems, and other tools. Pressure is deeper and more specific than you might expect from a typical foot massage.'
) }}
{{ macros.homeService(
  'odd',
  'Therapeutic Massage',
  'therapeutic',
  'Therapeutic Massage',
  [
    'Customizable pressure',
    'Uses gliding strokes to promote long, supple muscles',
    'Purpose is relaxation, as well as to release trigger points, and to break through adhesions within muscles and connective tissues'
  ],
  'This modality is performed with the client disrobed, lying on the massage table beneath a sheet and a blanket. Only the area being worked is uncovered at a time. Client will be worked in prone and supine positions.'
) }}
{{ macros.homeService(
  'even',
  'Pregnancy Massage',
  'pregnancy',
  'Pregnancy Massage',
  [
    'Therapy specifically tailored for the expectant mother’s needs. It is also called pre-natal massage.'
  ],
  'This modality is performed with the client disrobed, lying on the massage table beneath a sheet and a blanket. Only the area being worked is uncovered at a time.'
) }}
{{ macros.homeService(
  'odd',
  'Thai Massage',
  'thai-massage',
  'Thai Massage',
  [
    'Focus is muscle relaxation, joint range of motion, and flexibility'
  ],
  'Client arrives in comfortable clothes that do not need frequent adjusting. This modality is performed with client fully clothed, lying on a mat on the floor. Therapist will compress different muscle groups, and along Sen lines (Thai energy lines). Hands and feet may be used. Stretches are included. Client may be worked in prone, supine, side-lying, and seated positions.'
) }}
</main>
