---
layout: home
title: Home
heading: Light & Life Massage
---

<div class="hero position-relative" style="linear-gradient(to bottom, rgba(69, 67, 64, 0.8), rgba(69, 67, 64, 0.5)), url(/assets/img/studio.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-12 align-self-center text-center">
        <h1 class="mb-3">Light &amp; Life Massage</h1>
        <a href="https://light-life-massage.square.site/" class="btn btn-primary">Schedule Appointment</a>
      </div>
      <div class="text-center position-absolute" style="bottom: 20px;left: 50%;width: 200px;margin-left: -100px; opacity: 0.6;">
        <i class="fas fa-angle-down" style="font-size: 28px;"></i>
        <p>Scroll for services</p>
      </div>
    </div>
  </div>
</div>
<div id="services"></div>
<div class="services">
  <div class="container">
    <h1 class="mt-2 mt-lg-5 mb-3 display-3">Services</h1>
    <nav class="nav mb-2 mb-lg-5">
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#ashiatsu">Ashiatsu</a>
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#foot-zone">Foot Zone Therapy</a>
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#therapeutic">Therapeutic Massage</a>
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#pregnancy">Pregnancy Massage</a>
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#thai-massage">Thai Massage</a>
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#ionizing-foot-bath">Ionizing Foot Bath</a>
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#lumiceutical-light-therapy">LumiCeutical Light Therapy</a>
      <a class="nav-link btn btn-sm btn-outline-primary mb-3 mr-3" href="#bemer-treatment">Bemer Treatment</a>
    </nav>
  </div>
<main>
{% import 'macros.njk' as macros %}
{{ macros.homeService(
  'odd',
  'Ashiatsu / Barefoot Massage',
  'ashiatsu',
  'Ashiatsu Massage',
  [
    'Pressure is broad, deep, consistent, and has powerful grounding and relaxing effects'
  ],
  'This modality is performed with the client disrobed, lying on the massage table beneath an oversized massage towel. Therapist applies oil using hands, and then proceeds to massage with the feet. When client is face up, the client’s eyes will be covered with a loose overlapping head wrap. The limbs are then modestly exposed at the same time for ease of working. This is a full body massage.'
) }}
{{ macros.homeService(
  'even',
  'Foot Zone Therapy',
  'foot-zone',
  'Foot Zone Therapy',
  [
    'Firm, specific pressure in the feet',
    'Activates signals on the feet that correspond with each part of the body',
    'Improves communication within the body which aides healing, restoration, and proper function'
  ],
  'Client sits in a zero gravity position. Shoes and socks are removed. Therapist will administer techniques using thumbs, fingers, and knuckles as well as stones, gems, and other tools. Pressure is deeper and more specific than you might expect from a typical foot massage.'
) }}
{{ macros.homeService(
  'odd',
  'Therapeutic Massage',
  'therapeutic',
  'Therapeutic Massage',
  [
    'Customizable pressure',
    'Uses gliding strokes to promote long, supple muscles',
    'Purpose is relaxation, as well as to release trigger points, and to break through adhesions within muscles and connective tissues'
  ],
  'This modality is performed with the client disrobed, lying on the massage table beneath a sheet and a blanket. Only the area being worked is uncovered at a time. Client will be worked in prone and supine positions.'
) }}
{{ macros.homeService(
  'even',
  'Pregnancy Massage',
  'pregnancy',
  'Pregnancy Massage',
  [
    'Therapy specifically tailored for the expectant mother’s needs. It is also called pre-natal massage.'
  ],
  'This modality is performed with the client disrobed, lying on the massage table beneath a sheet and a blanket. Only the area being worked is uncovered at a time.'
) }}
{{ macros.homeService(
  'odd',
  'Thai Massage',
  'thai-massage',
  'Thai Massage',
  [
    'Focus is muscle relaxation, joint range of motion, and flexibility'
  ],
  'Client arrives in comfortable clothes that do not need frequent adjusting. This modality is performed with client fully clothed, lying on a mat on the floor. Therapist will compress different muscle groups, and along Sen lines (Thai energy lines). Hands and feet may be used. Stretches are included. Client may be worked in prone, supine, side-lying, and seated positions.'
) }}
{{ macros.homeService(
  'even',
  'Ionizing Foot Bath',
  'ionizing-foot-bath',
  'Ionizing Foot Bath',
  [
    'Dyna-Chi Ionic Balancer, 11 AMP',
    'Introduces negative ions to help balance the body',
    'Essential oils diffused into the air at client’s request',
    '30 minute treatment'
  ],
  'Client arrives in comfortable clothes that do not need frequent adjusting. This modality is performed with client fully clothed, lying on a mat on the floor. Therapist will compress different muscle groups, and along Sen lines (Thai energy lines). Hands and feet may be used. Stretches are included. Client may be worked in prone, supine, side-lying, and seated positions.'
) }}
{{ macros.homeService(
  'odd',
  'LumiCeutical Light Therapy',
  'lumiceutical-light-therapy',
  'LumiCeutical Light Therapy',
  [
    'Lumicuticals light system',
    'Includes red, green, and blue lights',
    'Supports cellular repair and regeneration',
    'FDA cleared for Pain Relief and Injury Recovery',
    'Increases circulation and supports self healing',
    '20 minute treatment'
  ],
  'Client arrives in comfortable clothes that do not need frequent adjusting. This modality is performed with client fully clothed, lying on a mat on the floor. Therapist will compress different muscle groups, and along Sen lines (Thai energy lines). Hands and feet may be used. Stretches are included. Client may be worked in prone, supine, side-lying, and seated positions.'
) }}
{{ macros.homeService(
  'even',
  'Bemer Treatment',
  'bemer-treatment',
  'Bemer Treatment',
  [
    'Coming soon!'
  ],
  'BEMER stands for Bio-Electro-Magnetic-Energy-Regulation. BEMER is an FDA Class II cleared consumer medical device that sends a low-intensity pulsed electromagnetic field to the body in order to safely stimulate healthy muscles which temporarily enhances local blood flow, resulting in better disbursement of oxygen within the target tissues while supporting the elimination of CO2. Additional benefits from regular use of BEMER may include reduced stress, improved relaxation, optimized physical performance, enhanced muscle conditioning and physical fitness, and a better overall feeling of wellbeing.'
) }}
</main>
<footer class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h5>&copy; 2024 Light &amp; Life Massage. All rights reserved.</h5>
      </div>
    </div>
  </div>
</footer>