---
layout: page
title: Utah County Appointments
---

<div class="container my-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {% import 'macros.njk' as macros %}
    {{ macros.bio(
      {
        name:'Katelyn',
        image:'/assets/img/katelyn.jpg',
        schedules:[
          'Tuesdays 4:30pm - 10pm',
          'Wednesdays 4:30pm - 10pm',
          'Every second and fourth Saturday 10am - 2pm'
        ],
        link:'tel:8016150328',
        linkText:'Call or Text (801) 615-0328 to book',
        bio:'Katelyn Cutler graduated from Utah College of Massage Therapy in 2017 and has been actively practicing in the field since, focusing mostly on injury rehabilitation and trigger point therapy. Katelyn has worked in a variety of settings, including chiropractic offices, resorts, spas, corporate offices, and at miscellaneous events. Katelyn also has a Bachelors of Science in Anthropology from the University of Utah with her emphasis being in Health and Integrated Human Biology. Her passion for learning about and understanding the human body led her to teach Anatomy and Pathology at Healing Mountain Massage School-Orem in 2023. She continues to evolve as a massage therapist and applies her knowledge and observations into her massage techniques, striving to adapt each massage to fit an individual’s needs. For scheduling and pricing, please contact Katelyn directly at (801) 615-0328.'
      }
    )}}
    {{ macros.bio(
      {
        name:'Sarah',
        image:'/assets/img/sarah.jpg',
        schedules:[
          'Every first and third Saturday 8am-2pm'
        ],
        link:'https://www.vagaro.com/sarahreadllc',
        linkText:'Book Now',
        bio: 'Sarah Read, LMT, practicing massage, footzone and cupping therapy. Through the healing power of touch and a commitment to the purest methods, I empower individuals to be honest with their bodies, take responsibility for their well-being, and find lasting vitality both inside and out. Schedule online or text 801-675-7655.'
      }
    )}}
    {{ macros.bio(
      {
        name:'Mele',
        schedules:[
          'Every second and fourth Saturday 2:30pm - 10pm'
        ],
        link:'',
        linkText:'',
        bio: ''
      }
    )}}
    {{ macros.bio(
      {
        name:'Riley',
        image:'',
        schedules:[
          'Mondays 8am - 4pm'
        ],
        link:'',
        linkText:'',
        bio: ''
      }
    )}}
    {{ macros.bio(
      {
        name:'Julia',
        image:'',
        schedules:[
          'Fridays 8am - 4pm'
        ],
        link:'',
        linkText:'',
        bio: ''
      }
    )}}
    {{ macros.bio(
      {
        name:'LaurieKae',
        image:'',
        schedules:[
          'Wednesdays 8am - 4pm'
        ],
        link:'',
        linkText:'',
        bio: ''
      }
    )}}
    {{ macros.bio(
      {
        name:'Alexis',
        image:'',
        schedules:[
          'Thursdays 8am - 4pm',
          'Fridays 4:30pm - 10pm',
          'Every first and third Saturday 2:30pm - 10pm'
        ],
        link:'',
        linkText:'',
        bio: ''
      }
    )}}
  </div>
</div>
