---
layout: page
title: Utah County Appointments
---

<div class="container my-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {% import 'macros.njk' as macros %}
    {{ macros.bio(
      {
        name:'Katelyn',
        image:'/assets/img/katelyn.jpg',
        schedules:[
          'Tuesdays 4:30pm - 10pm',
          'Wednesdays 4:30pm - 10pm',
          'Every second and fourth Saturday 10am - 2pm'
        ],
        link:'tel:8016150328',
        linkText:'Call or Text (801) 615-0328 to book',
        bio:'Katelyn Cutler graduated from Utah College of Massage Therapy in 2017 and has been actively practicing in the field since, focusing mostly on injury rehabilitation and trigger point therapy. Katelyn has worked in a variety of settings, including chiropractic offices, resorts, spas, corporate offices, and at miscellaneous events. Katelyn also has a Bachelors of Science in Anthropology from the University of Utah with her emphasis being in Health and Integrated Human Biology. Her passion for learning about and understanding the human body led her to teach Anatomy and Pathology at Healing Mountain Massage School-Orem in 2023. She continues to evolve as a massage therapist and applies her knowledge and observations into her massage techniques, striving to adapt each massage to fit an individual’s needs. For scheduling and pricing, please contact Katelyn directly at (801) 615-0328.'
      }
    )}}
    {{ macros.bio(
      {
        name:'Sarah',
        image:'',
        schedules:[
          'Wednesdays 8am - 4pm'
        ],
        link:'',
        linkText:'Book Now',
        bio: ''
      }
    )}}
    {{ macros.bio(
      {
        name:'Tyler',
        image:'/assets/img/tyler.jpg',
        schedules:[
          'Every second and fourth Saturday 2:30pm - 10pm'
        ],
        link:'https://www.instagram.com/tysmassage/',
        linkText:'Book Now',
        bio: 'Tyler, LMT, specializes in a variety of massage modalities to support the body’s natural health and balance. Passionate about wellness, he values massage as a powerful way to ease stress and anxiety while promoting renewal and relaxation. Dedicated to every client’s well-being, Tyler strives to make each session leave you feeling refreshed and restored. Schedule your appointment today. Swedish • Deep Tissue • Lymph • Reflexology • Cupping Sports • Structural Integration • Hot Stone • Trigger Point Appointments in Orem & Outcall Massage. Call or Text (385)220-2297'
      }
    )}}
    {{ macros.bio(
      {
        name:'Heather A.',
        image:'/assets/img/heather.jpg',
        schedules:[
          'Fridays 8am - 10pm'
        ],
        link:'https://www.massagebook.com/therapists/heatheradams-lmt?src=external',
        linkText:'Book Now',
        bio: 'Heather has been providing the best Thai Yoga Therapy in Utah Valley for the last 5 years. She loves it so much! She loves the change she sees in people because of it. It is a full body treatment that leaves them feeling revived and ready to face the day! Last year, Heather attended Healing Mountain Massage School, and she now offers a professional, intuitive, and results-driven massage. Her skills include cupping, trigger point, prenatal, cranial sacral, lymph, Reiki, Thai Massage, Swedish Massage, reflexology, Shiatsu, crystal healing, and spa treatments, to name a few.  Let’s get you feeling even better!'
      }
    )}}
    {{ macros.bio(
      {
        name:'Nikolle',
        image:'',
        schedules:[
          'Mondays 8am - 4pm',
          'Thursdays 8am - 4pm'
        ],
        link:'',
        linkText:'Book Now',
        bio: ''
      }
    )}}
  </div>
</div>
